{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock %}

{% block content %}

<!-- HOME -->
<section id="home">
     <div class="row">

          <div class="owl-carousel owl-theme home-slider">
               {% for object in carosels %}
               <div class="item item-second">
                    <div class="caption">
                         <div class="container">
                              <div id="slide-text" class="col-md-6 col-sm-12">
                                   <h1>{{ object.heading }}</h1>
                                   <h3>{{ object.text }}
                                   </h3>
                                   <a href="/courses" class="section-btn btn btn-default smoothScroll">Join a workshop</a>
                              </div>
                              <div class="sdgku-logo-container">
                                   <img src="{{ object.logo_image.url }}" class="logo" style="width: 500px;">
                              </div>
                         </div>
                    </div>
               </div>
               {% endfor %}
          </div>
     </div>
</section>

<!-- Courses -->
<section id="courses">
     <div class="container">
          <div class="row">
               <div class="col-md-12 col-sm-12">
                    <div class="section-title">
                         <h2>Courses <small>Upgrade your skills with newest workshops</small></h2><a href ="/courses" class="btn btn-lg btn-primary" style=" background-color: #ca2216; border-radius: 0;">View all</a>
                    </div>
                    
                    <div class="owl-carousel owl-theme owl-courses">
                         {% for object in courses %}
                         <div class="col-md-4 col-sm-4">
                              <div class="item">
                                   <div class="courses-thumb">
                                        <div class="courses-top">
                                             <div class="courses-image">
                                                  <img src="{{ object.image.url }}" class="img-responsive" alt="">
                                             </div>
                                             <div class="courses-date">
                                                  <span><i class="fa fa-calendar"></i>{{ object.date }}</span>
                                                  <span><i class="fa fa-clock-o"></i> {{ object.time_length }}
                                                       Hours</span>
                                             </div>
                                        </div>

                                        <div class="courses-detail">
                                             <h3><a href="/courses">{{ object.name }}</a></h3>
                                             <p>{{ object.description }}.</p>
                                        </div>

                                        <div class="courses-info">
                                             <div class="courses-author">
                                                  <img src='{{ object.presenter_image.url }}' class="img-responsive"
                                                       alt="">
                                                  <span>{{ object.presenter }}</span>
                                             </div>
                                             <div class="courses-price">
                                                  <a href="/courses"><span>More..</span></a>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                         </div>
                         {% endfor %}
                    </div>
               </div>
          </div>
</section>


<!-- ABOUT -->
<!-- <section id="about">
     <div class="container">
          <div class="row">
               <div class="col-md-12 col-sm-12">
                    <div class="section-title">
                         <h2>Requirments <small>Papers must adhere to these guidelines</small></h2>
                    </div>
                    
                    <div class="about-info">
                         {% for object in requirements %}
                         <figure>
                              <span><i class="fa fa-certificate"></i></span>
                              <figcaption>
                                   <h3>{{ object.heading }}</h3>
                                   <ul>
                                        <li><strong>Complete Document:</strong>
                                             <p>Must be submitted as full papers.</p>
                                        </li>
                                        <li><strong>Length:</strong>
                                             <p>From 6 pages to 10 pages.</p>
                                        </li>
                                        <li><strong>Language:</strong>
                                             <p>In English or Spanish.</p>
                                        </li>
                                   </ul>
                              </figcaption>
                         </figure>
                         {% endfor %}
                    </div>
               </div>
          </div>
     </div>
</section> -->


<!-- PREVIOUS EDITIONS -->
<!-- <section id="testimonial">
     <div class="container">
          <div class="row">
               <div class="col-md-12 col-sm-12">
                    <div class="section-title">
                         <h2>Previous Editions <small>An Evolution & Histroy of Conisoft</small></h2>
                    </div>
                    <div class="owl-carousel owl-theme owl-client">
                         {% for object in editions %}
                         <div class="col-md-4 col-sm-4">
                              <div class="item">
                                   <div class="tst-author">
                                        <a href="{{ object.link }}">
                                             <h4>{{ object.year }}</h4>
                                        </a>
                                        <div class="tst-image">
                                             <img src='{{ object.image.url }}' class="img-responsive" alt="">
                                        </div>
                                   </div>
                              </div>
                         </div>
                         {% endfor %}
                    </div>
               </div>
          </div>
</section> -->

{% endblock content %}