{% extends 'base.html' %}
{% load static %}
{% block content %}



<!-- HOME -->
<section id="home">
     <div class="row">

          <div class="owl-carousel owl-theme home-slider">
               {% for object in carosels %}
               <div class="item item-second">
                    <div class="caption">
                         <div class="container">
                              <div class="col-md-6 col-sm-12">
                                   <h1>{{ object.heading }}</h1>
                                   <h3>{{ object.text }}
                                   </h3>
                                   <a href="#courses" class="section-btn btn btn-default smoothScroll">Take a course</a>
                              </div>
                              <div class="sdgku-logo-container">
                                   <img src="{{ object.logo_image.url }}" class="logo" style="width: 500px;">
                              </div>
                         </div>
                    </div>
               </div>
               {% endfor %}
          </div>
     </div>
</section>


<!-- FEATURE -->
<section id="feature">
     <div class="container">
          <div class="row">
               {% for object in topics %}
               <div class="col-md-4 col-sm-4">
                    <div class="feature-thumb">
                         <span>{{ object.id }}</span>
                         <h3>{{ object.name }}</h3>
                         <p>{{ object.about }}</p>
                    </div>
               </div>
               {% endfor %}

               <!-- <div class="col-md-4 col-sm-4">
                    <div class="feature-thumb">
                         <span>01</span>
                         <h3>Core Themes</h3>
                         <p>Requirement engineering</p>
                         <p>Systems modeling: language & formalization</p>
                         <p>Architecture and software design</p>
                         <p>Models and quality systems</p>
                         <p>Process models</p>
                         <p>Software metrics</p>
                    </div>
               </div> -->
          </div>
</section>


<!-- ABOUT -->
<section id="about">
     <div class="container">
          <div class="row">

               <div class="col-md-6 col-sm-12">
                    <div class="about-info">
                         <h2>Call for Papers</h2>
                         {% for object in requirements %}
                         <figure>
                              <span><i class="fa fa-certificate"></i></span>
                              <figcaption>
                                   <h3>{{ object.heading }}</h3>
                                   <ul>
                                        <li><strong>Complete Document:</strong>
                                             <p>Must be submitted as full papers.</p>
                                        </li>
                                        <li><strong>Length:</strong>
                                             <p>From 6 pages to 10 pages.</p>
                                        </li>
                                        <li><strong>Language:</strong>
                                             <p>In English or Spanish.</p>
                                        </li>
                                   </ul>
                              </figcaption>
                         </figure>
                         {% endfor %}
                    </div>
               </div>


               <!-- REGISTER -->
               <div class="col-md-offset-1 col-md-4 col-sm-12">
                    <div class="entry-form">
                         <form action="#" method="post">
                              <h2>Register</h2>
                              <input type="text" name="full name" class="form-control" placeholder="Full name"
                                   required="">

                              <input type="email" name="email" class="form-control" placeholder="Your email address"
                                   required="">

                              <input type="password" name="password" class="form-control" placeholder="Your password"
                                   required="">

                              <button class="submit-btn form-control" id="form-submit">Get started</button>
                         </form>
                    </div>
               </div>

          </div>
     </div>
</section>

<!-- PLEASE DO NOT DELETE TEAM SECTION YET-->
<!-- TEAM
<section id="team">
     <div class="container">
          <div class="row">

               <div class="col-md-12 col-sm-12">
                    <div class="section-title">
                         <h2>Teachers <small>Meet Professional Trainers</small></h2>
                    </div>
               </div>

               <div class="col-md-3 col-sm-6">
                    <div class="team-thumb">
                         <div class="team-image">
                              <img src="{% static 'images/author-image1.jpg' %}" class="img-responsive" alt="">
                         </div>
                         <div class="team-info">
                              <h3>Mark Wilson</h3>
                              <span>I love Teaching</span>
                         </div>
                         <ul class="social-icon">
                              <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                              <li><a href="#" class="fa fa-twitter"></a></li>
                              <li><a href="#" class="fa fa-instagram"></a></li>
                         </ul>
                    </div>
               </div>

               <div class="col-md-3 col-sm-6">
                    <div class="team-thumb">
                         <div class="team-image">
                              <img src="{% static 'images/author-image2.jpg' %}" class="img-responsive" alt="">
                         </div>
                         <div class="team-info">
                              <h3>Catherine</h3>
                              <span>Education is the key!</span>
                         </div>
                         <ul class="social-icon">
                              <li><a href="#" class="fa fa-google"></a></li>
                              <li><a href="#" class="fa fa-instagram"></a></li>
                         </ul>
                    </div>
               </div>

               <div class="col-md-3 col-sm-6">
                    <div class="team-thumb">
                         <div class="team-image">
                              <img src="{% static 'images/author-image3.jpg' %}" class="img-responsive" alt="">
                         </div>
                         <div class="team-info">
                              <h3>Jessie Ca</h3>
                              <span>I like Online Courses</span>
                         </div>
                         <ul class="social-icon">
                              <li><a href="#" class="fa fa-twitter"></a></li>
                              <li><a href="#" class="fa fa-envelope-o"></a></li>
                              <li><a href="#" class="fa fa-linkedin"></a></li>
                         </ul>
                    </div>
               </div>

               <div class="col-md-3 col-sm-6">
                    <div class="team-thumb">
                         <div class="team-image">
                              <img src="{% static 'images/author-image4.jpg' %}" class="img-responsive" alt="">
                         </div>
                         <div class="team-info">
                              <h3>Andrew Berti</h3>
                              <span>Learning is fun</span>
                         </div>
                         <ul class="social-icon">
                              <li><a href="#" class="fa fa-twitter"></a></li>
                              <li><a href="#" class="fa fa-google"></a></li>
                              <li><a href="#" class="fa fa-behance"></a></li>
                         </ul>
                    </div>
               </div>

          </div>
     </div>
</section> -->


<!-- Courses -->
<section id="courses">
     <div class="container">
          <div class="row">

               <div class="col-md-12 col-sm-12">
                    <div class="section-title">
                         <h2>Popular Courses <small>Upgrade your skills with newest courses</small></h2>
                    </div>

                    <div class="owl-carousel owl-theme owl-courses">
                         {% for object in courses %}
                         <div class="col-md-4 col-sm-4">
                              <div class="item">
                                   <div class="courses-thumb">
                                        <div class="courses-top">
                                             <div class="courses-image">
                                                  <img src="{{ object.image.url }}" class="img-responsive" alt="">
                                             </div>
                                             <div class="courses-date">
                                                  <span><i class="fa fa-calendar"></i>{{ object.date }}</span>
                                                  <span><i class="fa fa-clock-o"></i> {{ object.time_length }}
                                                       Hours</span>
                                             </div>
                                        </div>

                                        <div class="courses-detail">
                                             <h3><a href="#">{{ object.name }}</a></h3>
                                             <p>{{ object.description }}.</p>
                                        </div>

                                        <div class="courses-info">
                                             <div class="courses-author">
                                                  <img src='{{ object.presenter_image.url }}' class="img-responsive"
                                                       alt="">
                                                  <span>{{ object.presenter }}</span>
                                             </div>
                                             <div class="courses-price">
                                                  <a href="#"><span>USD 80</span></a>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                         </div>
                         {% endfor %}
                    </div>
               </div>
          </div>
</section>




<!-- PREVIOUS EDITIONS -->
<section id="testimonial">
     <div class="container">
          <div class="row">
               <div class="col-md-12 col-sm-12">
                    <div class="section-title">
                         <h2>Previous Editions <small>An Evolution & Histroy of Conisoft</small></h2>
                    </div>
                    <div class="owl-carousel owl-theme owl-client">
                         {% for object in editions %}
                         <div class="col-md-4 col-sm-4">
                              <div class="item">
                                   <div class="tst-author">
                                        <a href="{{ object.link }}">
                                             <h4>{{ object.year }}</h4>
                                        </a>
                                        <div class="tst-image">
                                             <img src='{{ object.image.url }}' class="img-responsive" alt="">
                                        </div>
                                   </div>
                              </div>
                         </div>
                         {% endfor %}
                    </div>

               </div>
          </div>
</section>


<!-- CONTACT -->
{% if not user.is_authenticated %}
     {% block form %}

     {% endblock %}
{% endif %}

{% endblock content %}