{% extends 'base.html' %}
{% load static %}

{% block content %}
{% csrf_token %}
<section id="courses">

    <div class="container">
        <div class="row">
            <div class="section-title">
                <h2>Users / Courses</h2>
                <form class="search-container" method="GET" action="">

                    <label for="name_search">Name</label>
                    <input class="add_your_class" type="search" name="name_search"><br>

                    <label for="email_search">Email</label>
                    <input class="add_your_class" type="search" name="email_search"><br>

                    <select id="test" class="form-select" aria-label="Default select example"
                        style="width: 19rem; position: relative; left: 2rem;">
                        <option selected value="1">Users</option>
                        <option value="0">Courses</option>
                    </select>

                    <br><br>

                    <div style="display: inline-flex; position: relative; left: 2rem;">
                        <select class="form-select" aria-label="Default select example" name="approval_type"
                            style="margin-right: 1rem;">
                            <option selected value="">Approval Status</option>
                            <option value="1">Approved</option>
                            <option value="0">Not Approved</option>
                        </select>

                        <select class="form-select" aria-label="Default select example" name="receipt_search"
                            style="margin-right: 1rem;">
                            <option selected value="">Receipt Status</option>
                            <option value="receipt">Receipt</option>
                            <option value=None>No Receipt</option>
                        </select>

                        <!-- <div class="form-check form-switch">
                            <input class="form-check-input" name="receipt_search" type="checkbox" id="flexSwitchCheckDefault">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Receipt</label>
                        </div> -->
                    </div>

                    <br><br>

                    <button class="add_your_class" type="submit" style="width: 20rem; position: relative; left: 2rem;">
                        Search </button>
                </form>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row" id="hidden_div">
            <div class="col-md-12 col-sm-12">
                {% for user in search_results %}
                {% if user.Full_Name %}

                <div class="col-md-3 col-sm-3">
                    <div class="item">
                        <div class="courses-thumb">
                            <div class="card" style="width: 100%;">
                                <div class="card-body">
                                    <a href="/admin/mainApp/user/{{user.id}}/change/">
                                        <h3 class="card-title">{{ user.Full_Name }}</h3>
                                    </a>
                                    <a href="/admin/mainApp/user/{{user.id}}/change/">
                                        <p class="card-text">{{ user.email }}</p>
                                    </a>
                                    <a href="/admin/mainApp/user/{{user.id}}/change/">
                                        <p class="card-text">Courses: <br><strong>{{ user.course_1_name }}
                                                <br>{{user.course_2_name }}</strong></p>
                                    </a>
                                    {% if user.receipt_photo != 'None' %}
                                    <a href='media/{{ user.receipt_photo }}' class="btn btn-primary"
                                        style="width: 100%; margin-bottom: 5px; background-color: #ca2216; border-radius: 0;"
                                        alt="Missing">View Receipt</a>
                                    {% else %}
                                    <a href='/admin/mainApp/user/{{user.id}}/change/' class="btn btn-outline-primary"
                                        style="width: 100%; background-color: #fc140452; margin-bottom: 5px; border-radius: 0;"
                                        alt="Missing">No Receipt</a>
                                    {% endif %}
                                    <br>
                                    {% if user.approved == True %}
                                    <a href="/admin/mainApp/user/{{user.id}}/change/" class="btn btn-primary"
                                        style="width: 100%; background-color: #ca2216; border-radius: 0;">Approved</a>
                                    {% else %}
                                    <a href="/admin/mainApp/user/{{user.id}}/change/" class="btn btn-outline-primary"
                                        style="width: 100%; background-color: #fc140452; border-radius: 0;">Not
                                        Approved</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% empty %}
                <h1>No Results</h1>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container" id="hidden_div2" style="display: none;">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                {% for course in search_results %}
                {% if course.attendants %}

                <div class="col-md-3 col-sm-3" style="margin-top: 4rem;">
                    <div class="item">
                        <div class="courses-thumb">
                            <div class="courses-top">

                                <div class="courses-image">
                                    <img src="{{ course.image.url }}" class="img-responsive" alt="">
                                </div>

                                <span style="font-size: 2rem;">{{ course.name }}</span><br>

                                <a href="/admin/mainApp/course/{{course.id}}/change/">
                                    <p class="card-text">Attendants: {{ course.attendants }} / {{ course.max_size }}</p>
                                </a>

                                <span href="/admin/mainApp/course/{{course.id}}/change/">{{ course.presenter
                                    }}</span><br>
                                <a href="/admin/mainApp/course/{{course.id}}/change/">
                                    <p class="card-text">{{ course.email }}</p>
                                </a>
                                <span href="/admin/mainApp/course/{{course.id}}/change/" style="margin-left: 5px;"><i
                                        class="fa fa-calendar"></i>{{ course.date }}</span><br>
                                <span href="/admin/mainApp/course/{{course.id}}/change/"><i class="fa fa-clock-o"
                                        style="margin-left: 5px;"></i> {{ course.time_length }} Hours</span><br>

                                {% if course.approved == True %}
                                <a href="/admin/mainApp/course/{{course.id}}/change/" class="btn btn-primary"
                                    style="width: 100%; background-color: #ca2216; border-radius: 0;">Approved</a>
                                {% else %}
                                <span href="/admin/mainApp/course/{{course.id}}/change/" class="btn btn-outline-primary"
                                    style="width: 100%; background-color: #fc140452; border-radius: 0;">Not
                                    Approved</span>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>


                <!-- <div class="col-md-3 col-sm-3">
                    <div class="item">
                        <div class="courses-thumb">
                            <div class="card" style="width: 100%;">
                                <div class="card-body">
                                    <a href="/admin/mainApp/course/{{course.id}}/change/"><h3 class="card-title">{{ course.name }}</h3></a>
                                    <a href="/admin/mainApp/course/{{course.id}}/change/"><p class="card-text">Attendants: {{ course.attendants }} / {{ course.max_size }}</p></a>
                                    <a href="/admin/mainApp/course/{{course.id}}/change/"><p class="card-text">{{ course.email }}</p></a>
                                    <a href="/admin/mainApp/course/{{course.id}}/change/"><p><i class="fa fa-clock-o"></i> {{ course.time_length }} Hours</p></a>
                                    
                                    <div class="courses-author">
                                        <img src='{{ object.presenter_image.url }}' class="img-responsive" alt="">
                                        <span>{{ object.presenter }}</span>
                                    </div>
                                    <span><i class="fa fa-calendar"></i>{{ course.date }}</span>
                                    
                                    {% if course.approved == True %}
                                        <a href="/admin/mainApp/course/{{course.id}}/change/" class="btn btn-primary" style="width: 100%;">Approved</a>
                                    {% else %}
                                        <a href="/admin/mainApp/course/{{course.id}}/change/" class="btn btn-outline-primary" style="width: 100%;">Not Approved</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>  
                </div> -->
                {% endif %}
                {% empty %}
                <h1>No Results</h1>
                {% endfor %}

            </div>
        </div>
    </div>
</section>


<script>
    document.getElementById('test').addEventListener('change', function () {
        var style = this.value == 1 ? 'block' : 'none';
        document.getElementById('hidden_div').style.display = style;
    });

    document.getElementById('test').addEventListener('change', function () {
        var style = this.value == 0 ? 'block' : 'none';
        document.getElementById('hidden_div2').style.display = style;

    });
</script>

{% endblock %}