{% extends 'base.html' %}
{% load static %}

{% block content %}
{% csrf_token %}
<section id="courses">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h2>User Search</h2>
                <form class="add_your_class" method="GET" action="" >
                    <label for="name_search">Name</label>
                    <input class="add_your_class" type="search" name="name_search"><br>

                    <label for="email_search">Email</label>
                    <input class="add_your_class" type="search" name="email_search"><br>

                    <select class="form-select" aria-label="Default select example" name="approval_type">
                        <option selected value="">All</option>
                        <option value="1">Approved</option>
                        <option value="0">Not Approved</option>
                      </select>
                      <br>
                    <button class="add_your_class" type="submit"> Search </button>
                </form>
            </div>
        </div> 
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                {% for user in search_results %}
                <div class="col-md-3 col-sm-3">
                    <div class="item">
                        <div class="courses-thumb">
                            <div class="card" style="width: 100%;">
                                <div class="card-body">
                                    <a href="/admin/mainApp/user/{{user.id}}/change/"><h3 class="card-title">{{ user.Full_Name }}</h3></a>
                                    <a href="/admin/mainApp/user/{{user.id}}/change/"><p class="card-text">{{ user.email }}</p></a>
                                    <a href="/admin/mainApp/user/{{user.id}}/change/"><p class="card-text">Workshops: <br><strong>{{ user.course_1_name }} <br>{{ user.course_2_name }}</strong></p></a>
                                    {% if user.receipt %}
                                        <a href='media/{{ user.receipt }}' class="btn btn-primary" style="width: 100%; margin-bottom: 5px;" alt="Missing">Receipt</a>
                                    {% else %}
                                        <a href='/admin/mainApp/user/{{user.id}}/change/' class="btn btn-outline-primary" style="width: 100%; margin-bottom: 5px;" alt="Missing">No Receipt</a>
                                    {% endif %}
                                        <br>
                                    {% if user.is_approved == False %}
                                        <a href="/admin/mainApp/user/{{user.id}}/change/" class="btn btn-primary" style="width: 100%;">Approved</a>
                                    {% else %}
                                        <a href="/admin/mainApp/user/{{user.id}}/change/" class="btn btn-outline-primary" style="width: 100%;">Not Approved</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
                {% empty %}
                    <h1>No Results</h1>
                {% endfor %}  
            </div>                
        </div>
    </div>
</section>

{% endblock %}