{% extends 'base.html' %}
{% load static %}
{% block content %}
{% csrf_token %}

<!-- Courses -->
<section id="courses">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h2>Workshops <small>Upgrade your skills with newest courses</small></h2>
                </div>

                {% for object in courses %}
                <div class="col-md-3 col-sm-3">
                    <div class="item">
                        <div class="courses-thumb">
                            

                            <!-- <div class="courses-info">
                                <div class="courses-author">
                                    <img src='{{ object.presenter_image.url }}' class="img-responsive" alt="">
                                    <span>{{ object.presenter }}</span>
                                </div>
                            </div> -->

                            <div class="courses-top">
                                <div class="courses-image">
                                    <img src="{{ object.image.url }}" class="img-responsive" alt="">
                                </div>
                                <div class="courses-price">
                                    <h3><a href="#">{{ object.name }}</a></h3>
                                    <p>{{ object.description }}.</p>
                                    <span class="subscribe_button" style="cursor:pointer;"
                                        data-catid="{{ object.id }}">Attend</span>
                                </div>
                                <div class="courses-date">
                                    <div class="courses-author">
                                        <img src='{{ object.presenter_image.url }}' class="img-responsive" alt="">
                                        <span>{{ object.presenter }}</span>
                                    </div>
                                    <span><i class="fa fa-calendar"></i>{{ object.date }}</span>
                                    <span><i class="fa fa-clock-o"></i> {{ object.time_length }} Hours</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block scripts %}
<script>

    $('.subscribe_button').click(function () {
        console.log('activated')
        var id
        id = $(this).attr('data-catid');
        console.log(id)
        $.ajax(
            {
                type: 'GET',
                url: '/workshops/subscribe',
                data: {
                    workshop_id: id
                },
                success: function (data) {
                    console.log('Workshop' + id + 'Was subscribed to')
                }
            }
        )
    })
</script>
{% endblock scripts %}